::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

body{
    margin: 0;
    color:#000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: #f3f3f3;
}
header{
    width:100%;
    height: 85px;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding: 30px 0 0;
    min-height:80px;
    background-color: #fff;
}
.drawer_key{
  display: none;
}
a{
    text-decoration: none !important;
    cursor: pointer !important;
    color:inherit !important;
}
p{
    margin-top: 0px;
    margin-bottom: 5px;
    /* padding-right: 20px; */
    padding-left: 20px;
    /* color: rgba(0, 0, 0, .4); */
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    text-shadow: none;
}

.fullscreen-bg {
    width: 100%;
    min-height: 500px; 
    overflow: hidden;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
  }
  
 
.videoBanner-content{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: #ff7642a1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

}
.videoBanner-content .container{
 
}
.videoBanner-content .container h2{
  font-family: Lato, sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.videoBanner-content .container p{
  padding-top: 50px;
}
.videoBanner-content .container a img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
  
/* mobile view */
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://media.giphy.com/media/irONsf3uB8H3a/giphy.gif') center center / cover no-repeat;
  }
 .drawer_key{
    display: block;
  }

  .fullscreen-bg__video {
    display: none;
  }
  .main_a{
    display: none;
  }
  .header-div div{
    justify-content: flex-end !important;
  }
  .videoBanner-content .container {
    
  }
  .videoBanner-content .container h1{
    font-size: 17px;
    letter-spacing: 1px;
  }
  .footer-div div{
    flex-grow: 2;
  }
  .footer-div{
    flex-wrap: wrap; 
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .fullscreen-bg {
    background: url('https://media.giphy.com/media/irONsf3uB8H3a/giphy.gif') center center / cover no-repeat;
  }
 .drawer_key{
    display: block;
  }
  .main_a{
    display: none;
  }
  .header-div div{
    justify-content: flex-end !important;
  }
  .fullscreen-bg__video {
    display: none;
  }
  .videoBanner-content .container {
    margin: auto;
    margin-top: 45%;
  }
  .videoBanner-content .container h1{
    font-size: 17px;
    letter-spacing: 1px;
  }
  
}

.btn{
    margin-right: 0px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    float: right;
    clear: both;
    border: 3px solid #fff;
    border-radius: 35px;
    background-color: hsla(0, 0%, 100%, .13);
    padding: 9px 15px;
    color: white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
}
.btn2{
    margin-bottom: 40px;
    padding-bottom: 10px;
    float: unset;
    clear: both;
    border: 3px solid #fff;
    border-radius: 1px;
    padding: 9px 15px;
    color: white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
}
.color-black{
    color:#000 !important;
}

#sidemenu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
#sidemenu a {
    display: block;
    width: 100%;
    transition: 0.3s;
    text-decoration: none;
    font-family: Lato, sans-serif;
    color: #9b9898 !important;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px !important;
  }
  
  #sidemenu a:hover{
    color: #f1f1f1;
  }
  
  #sidemenu .closebtn {
    position: absolute;
    top: 26px;
    font-size: 36px;
    margin-left: 80%;
}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    color:#fff;
}
.header-div h2 {
  font-family: 'Montserrat', sans-serif;
}
h1.logo{
  font-family: 'Montserrat', sans-serif;
  font-size:60px;
  margin-bottom: 10px;
}
.footer-div{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    min-height: 80px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 80px;
    overflow: hidden;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.footer-div div{
  width: 50%;
  padding: 10px;
  height: 40px;
  margin: 10px;
  display: flex;
justify-content: space-evenly;
}
.copyright{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  width: 80%;
  margin: 0 auto;
  height: 40px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color:#555555;
  padding: 34px 0 ;
  font-size: 10px;
  line-height: 20px;
  border-top: 1px solid #555555;
}
.banner-section{
    /* The imag used */

  /* Set a specific height */
  width: 100%;
  min-height: 300px; 
  overflow: hidden;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 81px;
    padding-bottom: 81px;
}
.banner-1{
    /* The imag used */
  /* background-image: url("../images/back.jpg"); */
  background-color: #000;
  
}
.banner-2{
    /* The imag used */
  background-image: url("../images/image03.jpg");
  /* background-color: #000; */
}
.about-ban{
    /* The imag used */
     /* background-image: url("../images/geometry@.jpg"); */ 
    background-color: #000;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about-ban .heading{
  color:#ffb231 !important;
  
}
.banner-3{
    /* The imag used */
  background-image: url("../images/img12.jpg");
  padding-top: 0;
  padding-bottom: 0; 

}
.stories{
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
  clear: both;
  background-color: #f3f3f3;
  font-family: Lato, sans-serif;
    
}
.stories-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 25px;
    clear: none;
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}



.heading-5 {
    margin-bottom: -20px;
    clear: both;
    color: #50504f;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    padding:0;
    max-width: 940px;
}
.paragraph{
    display: block;
    width: 50%;
    margin-right: 8px;
    margin-bottom: 23px;
    margin-left: auto;
    padding-left: 0px;
    clear: both;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: perspective(2000px) translate(0px, 0px);
    transform: perspective(2000px) translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: Lato, sans-serif;
    color: hsla(0, 0%, 98%, .81);
    font-size: 24px;
    text-align: left;
    text-transform: none;
    text-shadow: none;
}
.paragraph-2{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 0px;
    clear: both;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: perspective(2000px) translate(0px, 0px);
    transform: perspective(2000px) translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: Lato, sans-serif;
    color: inherit;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-shadow: none;
}
.contact {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: -5px 6px 43px -13px #0000001a;
  font-family: Lato, sans-serif;
  height: 900px;
  flex-direction: column;
  display: flex;
  /* padding: 20px; */
  justify-content: center;
  /* align-items: center; */
  background-color: #fff;
}
.contact .heading{
  color:#000
}
.contact .heading span{
  color:#ffb231;
}
@media (max-width: 767px){
    .paragraph{
        width: 100%;
    }
}
.dent{
    margin-left:20px;
    color:#fff;
}
.heading{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 700;
   
}
.header-div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    height: inherit;
    color:#fff;
}
.header-div div a:hover{
  font-size: 17px;
  transition: 0.5s;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.right{
    float:right;

}
.left{
    float:left;
    
}
.center{
  margin: 0 auto !important;
}
/*/////////////////////////////////////////////////////////////
                  grid system
//////////////////////////////////////////////////////////////
 */

 .Grid{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   width: 80%;
   margin: 0 auto;
   min-height: 70px;
 }
 .Grid a{
   margin:10px 0 !important;
 }
 /* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin: 20px 0;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 20px -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  /* 
  ///////////////////////////////////////////////////
                contact form
  //////////////////////////////////////////////////
   */

   form.Application-form{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
  }
  form.Application-form div{
    margin-top: 20px;
  }

  form.Application-form fieldset{
    width: 80%;
    border:none;
  }

  form.Application-form input, form.Application-form textarea,form.Application-form select {
      width: 100%;
      background: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #b1c5c4;
      color: #ffb231;
      transition: .5s;
      padding: 5px;
  }
  form.Application-form .how_help input{
    width:unset;
  }
  form.Application-form .how_help p{
    font-size: unset; 
    line-height: unset;
  }
  form.Application-form select> option {
      color: #333;
  }
  
  form.Application-form .half{
    width:50%;
  }
  form.Application-form .half-10{
    width:40%;
  }
  form.Application-form .full{
    width:100%;
  }
  .flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex_row_a{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #80e721;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  /* ...... */
  form button:hover {
    background: #ffb231;
    border: 0;
    color: #fff;
}
.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #333;
    border-color: #888;
    outline: 0;
}
form button {
    color: #ffb231;
    transition: 1s;
}
.button, button {
    margin-bottom: 1rem;
}
.button, button, input[type=button], input[type=reset], input[type=submit] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #ffb231;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffb231;
    cursor: pointer;
    box-sizing: border-box;
}

/* foot */


footer .info h5 {
	font-size: 18px;
}

footer .location span{
  margin-left: 5px;
  padding-left:5px;
  display: flex;
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}


footer .info hr {
	margin: 8% 10px;
    border-top: 2px solid #e1e1e1;
    width: 20%;
}

footer .info h6 {
	color: #4f7372;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    transition: 1s;
}

footer .info h6:hover {
	color: white;
	cursor: pointer;
}
footer .info span{
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}

.footer_a{
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}

.nonInclusiveLogo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  text-align: center;
  height: 65px;
  width: 130px;
  position: relative;
  top: 0px;
}
.nonInclusiveLogo[data-company="caribou"] {
  background-image: url(../images/brands/caribou-logo.png);
}
.nonInclusiveLogo[data-company="mastercard"] {
  background-image: url(../images/brands/MastercardFoundation.png);
}
.nonInclusiveLogo[data-company="insightz_impact"] {
  background-image: url(../images/brands/i2i.png);
}
.nonInclusiveLogo[data-company="launchpad"] {
  background-image: url(../images/brands/GoogleDevelopers.png);
}
.nonInclusiveLogo[data-company="gates"] {
  background-image: url(../images/brands/GatesLogo-white.png);
}
.nonInclusiveLogo[data-company="dfs_labs"] {
  background-image: url(../images/brands/dfs_labs.svg);
}
.nonInclusiveLogo[data-company="finmark"] {
  background-image: url(../images/brands/FinMark-Trust.png);
}
.nonInclusiveLogo[data-company="ecobank"] {
  background-image: url(../images/brands/ecobank-logo.png);
}
.nonInclusiveLogo[data-company="cenfri"] {
  background-image: url(../images/brands/Cenfri_Logo_Final.png);
}