body{
    margin: 0;
    color:#000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: #f3f3f3;
}
header{
    width:100%;
    height:60px;
   background-color: #026fc2;
}
footer{
    width:100%;
    height:80px;
     background-color: #fff;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{
    margin-top: 0px;
    margin-bottom: 5px;
    /* padding-right: 20px; */
    padding-left: 20px;
    /* color: rgba(0, 0, 0, .4); */
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    text-shadow: none;
}
.btn{
    margin-right: 0px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    float: right;
    clear: both;
    border: 3px solid #fff;
    border-radius: 35px;
    background-color: hsla(0, 0%, 100%, .13);
    padding: 9px 15px;
    color: white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
}
.color-black{
    color:#000 !important;
}

#sidemenu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
#sidemenu a {
    display: block;
    width: 100%;
    transition: 0.3s;
    text-decoration: none;
    font-family: Lato, sans-serif;
    color: #9b9898;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px !important;
  }
  
  #sidemenu a:hover{
    color: #f1f1f1;
  }
  
  #sidemenu .closebtn {
    position: absolute;
    top: 26px;
    font-size: 36px;
    margin-left: 80%;
}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 60%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    color:#fff;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
}
.banner-section{
    /* The imag used */

  /* Set a specific height */
  width: 100%;
  min-height: 500px; 
  overflow: hidden;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 81px;
    padding-bottom: 81px;
}
.banner-1{
    /* The imag used */
  background-image: url("../images/back.jpg");
  
}
.banner-2{
    /* The imag used */
  background-image: url("../images/image03.jpg");
}
.about-ban{
    /* The imag used */
    background-image: url("../images/theglobe.jpg");
}
.banner-3{
    /* The imag used */
  background-image: url("../images/image04.jpg");

}
.stories{
        margin-top: 0px;
    padding-top: 53px;
    clear: both;
    background-color: #f3f3f3;
    font-family: Lato, sans-serif;
    
}
.stories-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    clear: none;
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}



.heading-5 {
    margin-bottom: -20px;
    clear: both;
    color: #50504f;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    max-width: 940px;
}
.paragraph{
    display: block;
    width: 50%;
    margin-right: 8px;
    margin-bottom: 23px;
    margin-left: auto;
    padding-left: 0px;
    clear: both;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: perspective(2000px) translate(0px, 0px);
    transform: perspective(2000px) translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: Lato, sans-serif;
    color: hsla(0, 0%, 98%, .81);
    font-size: 24px;
    text-align: left;
    text-transform: none;
    text-shadow: none;
}
.paragraph-2{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 0px;
    clear: both;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: perspective(2000px) translate(0px, 0px);
    transform: perspective(2000px) translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: Lato, sans-serif;
    color: hsla(0, 0%, 98%, .81);
    font-size: 24px;
    text-align: center;
    text-transform: none;
    text-shadow: none;
}
.contact {
    background-color: #ffa600;
    background-image: url(../images/contact_new.jpg);
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: -5px 6px 43px -13px #000;
    font-family: Lato, sans-serif;
    height:700px;
    padding:20px;
}
@media (max-width: 767px){
    .paragraph{
        width: 100%;
    }
}
.dent{
    margin-left:20px;
    color:#fff;
}
.heading{
    margin-right: 22px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 700;
   
}
.header-div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    height: inherit;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.right{
    float:right;

}
.left{
    float:left;
    
}
/*/////////////////////////////////////////////////////////////
                  grid system
//////////////////////////////////////////////////////////////
 */

 /* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin: 20px 0;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 20px -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }